<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    My First self done Nodejs page
  </title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>
   <div class="jumbotron text-center">
  <h2>Welcome to Tweety Tweets Twice App</h2>
  <form method="post" action="/welcome">
  <input type="submit" class="btn btn-primary" value="Sign in with Twitter"></input>
</form>
</div>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
